

* {
	margin: 0px;
	padding: 0px;

	list-style: none;
}

header, nav, article, aside, footer, section, hgroup {
	display: block;
}

body {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;

	background-color: #713a92;
}

#main_header {
	text-align: center;
	
	background-color: white;
	font-size: 24px;
}

#main_header ul li {
	display: inline-block;
}

#main_title {
	margin: 10px;
	position: relative;
	right: 100px;

	color: #5c2e88;
}

#viber_logo {
	margin-top: 10px;
	margin-left: 250px;
}

#main_section {
	background: #eaeaea; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eaeaea, #fffbff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaeaea, #fffbff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaeaea, #fffbff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaeaea, #fffbff);/* Standard */
	padding-bottom: 10px;
}

#about h1 {
	text-align: left;
	margin-left: 20px;

	font-size: 42px;
	color: #59267c;
}

#about_text {
	margin: 5px 20px 20px 20px;
	text-align: left;

	font-size: 24px;
	color: #302828;
}

#footer_info {
	padding-top: 75px;
	padding-bottom: 10px;

	color: white;
}